:root{
    --primary-color: #044694;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    font-size: 16px;
}

::-webkit-scrollbar{
    width: 6px; 
}

::-webkit-scrollbar-thumb{
    background-color: lightgray;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}

button.themed-btn{
    background-color: var(--primary-color,red);
    color: white;
    border: none;
    padding: .7rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}